data/
.bkp/
docs/
etags/
logs/
notes/
obsolete/
older_versions/
programs_do_not_ship/
temp/
test/
backup.pl
opendns_monitor.pl
im_gloss.css
im_gloss.js
im_markdown.css
im_markdown.js
*.komodoproject
*.project
*.includepath
/.vs
