/* editor_blockquotes.css: CSS for block quotes in IntraMine's Editor. */

/* Block quotes */
/*
.gloss_div table:not(:first-child) tbody tr:first-child.FOOTNOTE_, .gloss_div table:not(:first-child) tbody tr:first-child._FOOTNOTE_, .gloss_div table tbody tr:not(first-child)._FOOTNOTE_ {
	padding: 6px 0 0 4px !important;
}


.gloss_div table tbody tr:not(first-child) td {
	padding: 0 !important;
}
*/

table.imt tbody tr._FOOTNOTE_ {
	padding-left: 4px !important;
}

.bq, td.bq {
	/*font-style: italic;             Typical for quotes */
	background-color: #F2F8F2;      /* Light green */
	/*margin-left: 20px;*/
}

.bq1, td.bq1 {
	/*font-style: italic;             Typical for quotes */
	background-color: #F2F8F2;      /* Light green */
	/*margin-left: 40px;*/
}

.bq2, td.bq2 {
	/*font-style: italic;             Typical for quotes */
	background-color: #F2F8F2;      /* Light green */
	/*margin-left: 60px;*/
}

.bq3, td.bq3 {
	/*font-style: italic;             Typical for quotes */
	background-color: #F2F8F2;      /* Light green */
	/*margin-left: 80px;*/
}

.bq4, td.bq4 {
	/*font-style: italic;             Typical for quotes */
	background-color: #F2F8F2;      /* Light green */
	/*margin-left: 100px;*/
}

.bq5, td.bq5 {
	/*font-style: italic;             Typical for quotes */
	background-color: #F2F8F2;      /* Light green */
	/*margin-left: 120px;*/
}

.bf {
	border-right: 1px solid #bbb; /* Adds a colored vertical bar */
	padding-right: 20px;
}

.bf1 {
	border-right: 1px solid #bbb;  /*Adds a colored vertical bar */
	padding-right: 40px;
}

.bf2 {
	border-right: 1px solid #bbb;  /*Adds a colored vertical bar */
	padding-right: 60px;
}

.bf3 {
	border-right: 1px solid #bbb;  /*Adds a colored vertical bar */
	padding-right: 80px;
}

.bf4 {
	border-right: 1px solid #bbb;  /*Adds a colored vertical bar */
	padding-right: 100px;
}

.bf5 {
	border-right: 1px solid #bbb;  /*Adds a colored vertical bar */
	padding-right: 120px;
}

/* Blockquoted ordinary footnote rows. */
.bq_fn_div table.imt tr._FOOTNOTE_, .bq_icb table.imt tr._FOOTNOTE_ {
	padding-top: 0;
	margin: 0;
	border-top: 6px solid #F2F8F2;
}

.bq1_fn_div table.imt tr._FOOTNOTE_, .bq1_icb table.imt tr._FOOTNOTE_ {
	padding-top: 0;
	margin: 0;
	border-top: 6px solid #F2F8F2;
}

.bq2_fn_div table.imt tr._FOOTNOTE_, .bq2_icb table.imt tr._FOOTNOTE_ {
	padding-top: 0;
	margin: 0;
	border-top: 6px solid #F2F8F2;
}

.bq3_fn_div table.imt tr._FOOTNOTE_, .bq3_icb table.imt tr._FOOTNOTE_ {
	padding-top: 0;
	margin: 0;
	border-top: 6px solid #F2F8F2;
}

.bq4_fn_div table.imt tr._FOOTNOTE_, .bq4_icb table.imt tr._FOOTNOTE_ {
	padding-top: 0;
	margin: 0;
	border-top: 6px solid #F2F8F2;
}

.bq5_fn_div table.imt tr._FOOTNOTE_, .bq5_icb table.imt tr._FOOTNOTE_ {
	padding-top: 0;
	margin: 0;
	border-top: 6px solid #F2F8F2;
}

.bq_icb table.imt td.bq_fn, .bq1_icb table.imt td.bq1_fn, .bq2_icb table.imt td.bq2_fn, .bq3_icb table.imt td.bq3_fn, .bq4_icb table.imt td.bq4_fn, .bq5_icb table.imt td.bq5_fn {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}

table.imt tr._FOOTNOTE_ td h1, table.imt tr._FOOTNOTE_ td h2, table.imt tr._FOOTNOTE_ td h3, table.imt tr._FOOTNOTE_ td h4 {
	background-color: #F2F8F2;      /* Light green */
}


tr._FOOTNOTE_ td {
	padding-left: 4px !important;
	padding-right: 4px !important;
}

.INDENTED_TABLE_PLACEHOLDER table.bordered {
	margin-top: 0 !important;
	padding-top: 0 !important;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.INDENTED_TABLE_PLACEHOLDER table.bordered td {
	padding-left: 4px !important;
	padding-right: 4px !important;
}

tr._FOOTNOTE_ td.bq_fn, table.imt tr td.bq_fn, .gloss_div table :nth-child(1) td.bq_fn p {
	background-color: #F2F8F2 !important;      /* Light green */
	/*padding-left: 40px;
	border-left: 1px solid #bbb;*/
}

tr._FOOTNOTE_ td.bq1_fn, table.imt tr td.bq1_fn, .gloss_div table :nth-child(1) td.bq1_fn p {
	background-color: #F2F8F2 !important;      /* Light green */
	/*padding-left: 60px;
	border-left: 1px solid #bbb;*/
}

tr._FOOTNOTE_ td.bq2_fn, table.imt tr td.bq2_fn, .gloss_div table :nth-child(1) td.bq2_fn p {
	background-color: #F2F8F2 !important;      /* Light green */
	/*padding-left: 80px;
	border-left: 1px solid #bbb;*/
}

tr._FOOTNOTE_ td.bq3_fn, table.imt tr td.bq3_fn, .gloss_div table :nth-child(1) td.bq3_fn p {
	background-color: #F2F8F2 !important;      /* Light green */
	/*padding-left: 100px;
	border-left: 1px solid #bbb;*/
}

tr._FOOTNOTE_ td.bq4_fn, table.imt tr td.bq4_fn, .gloss_div table :nth-child(1) td.bq4_fn p {
	background-color: #F2F8F2 !important;      /* Light green */
	/*padding-left: 120px;
	border-left: 1px solid #bbb;*/
}

tr._FOOTNOTE_ td.bq5_fn, table.imt tr td.bq5_fn, .gloss_div table :nth-child(1) td.bq5_fn p {
	background-color: #F2F8F2 !important;      /* Light green */
	/*padding-left: 140px;
	border-left: 1px solid #bbb;*/
}

/* For the leftmost empty div in a footnote line, to set a border and indent.*/
.bq_fn_div, .bq_eq {
	background-color: #F2F8F2;
	width: calc(100% - 46px);
	margin-left: 40px;
	padding: 0 0 0 4px !important;
	border-left: 1px solid #bbb;
}

tr._FOOTNOTE_ td::before {
    content: none !important;
}

.bq1_fn_div {
	background-color: #F2F8F2;
	width: calc(100% - 66px);
	margin-left: 60px;
	padding: 0 0 0 4px !important;
	border-left: 1px solid #bbb;
}


.bq2_fn_div {
	background-color: #F2F8F2;
	width: calc(100% - 86px);
	margin-left: 80px;
	padding: 0 0 0 4px !important;
	border-left: 1px solid #bbb;
}

.bq3_fn_div {
	background-color: #F2F8F2;
	width: calc(100% - 106px);
	margin-left: 100px;
	padding: 0 0 0 4px !important;
	border-left: 1px solid #bbb;
}

.bq4_fn_div {
	background-color: #F2F8F2;
	width: calc(100% - 126px);
	margin-left: 120px;
	padding: 0 0 0 4px !important;
	border-left: 1px solid #bbb;
}

.bq5_fn_div {
	background-color: #F2F8F2;
	width: calc(100% - 146px);
	margin-left: 140px;
	padding: 0 0 0 4px !important;
	border-left: 1px solid #bbb;
}

.bq_eq {
	background-color: #F2F8F2;
	width: calc(100% - 46px);
	margin-left: 76px;
	padding: 0 0 0 4px !important;
	border-left: 1px solid #bbb;
}

.bq_eq1 {
	background-color: #F2F8F2;
	width: calc(100% - 66px);
	margin-left: 96px;
	padding: 0 0 0 4px !important;
	border-left: 1px solid #bbb;
}


.bq_eq2 {
	background-color: #F2F8F2;
	width: calc(100% - 86px);
	margin-left: 116px;
	padding: 0 0 0 4px !important;
	border-left: 1px solid #bbb;
}

.bq_eq3 {
	background-color: #F2F8F2;
	width: calc(100% - 106px);
	margin-left: 136px;
	padding: 0 0 0 4px !important;
	border-left: 1px solid #bbb;
}

.bq_eq4 {
	background-color: #F2F8F2;
	width: calc(100% - 126px);
	margin-left: 156px;
	padding: 0 0 0 4px !important;
	border-left: 1px solid #bbb;
}

.bq_eq5 {
	background-color: #F2F8F2;
	width: calc(100% - 146px);
	margin-left: 176px;
	padding: 0 0 0 4px !important;
	border-left: 1px solid #bbb;
}

.bq_eq_fn {
	background-color: #F2F8F2;
	width: calc(100% - 40px);
	margin-left: 40px;
	padding: 0 0 0 4px !important;
	border-left: 1px solid #bbb;
}

.bq_eq_fn1 {
	background-color: #F2F8F2;
	width: calc(100% - 60px);
	margin-left: 60px;
	padding: 0 0 0 4px !important;
	border-left: 1px solid #bbb;
}


.bq_eq_fn2 {
	background-color: #F2F8F2;
	width: calc(100% - 80px);
	margin-left: 80px;
	padding: 0 0 0 4px !important;
	border-left: 1px solid #bbb;
}

.bq_eq_fn3 {
	background-color: #F2F8F2;
	width: calc(100% - 100px);
	margin-left: 100px;
	padding: 0 0 0 4px !important;
	border-left: 1px solid #bbb;
}

.bq_eq_fn4 {
	background-color: #F2F8F2;
	width: calc(100% - 120px);
	margin-left: 120px;
	padding: 0 0 0 4px !important;
	border-left: 1px solid #bbb;
}

.bq_eq_fn5 {
	background-color: #F2F8F2;
	width: calc(100% - 140px);
	margin-left: 140px;
	padding: 0 0 0 4px !important;
	border-left: 1px solid #bbb;
}

/* For background-color in indented footnote body and ref popup equations. */
.gloss_div .bq_eq_fn table :nth-child(1), #hintbox .bq_eq_fn td:nth-child(1) {
	background-color: #F2F8F2 !important;
}

.gloss_div .bq_eq_fn1 table :nth-child(1), #hintbox .bq_eq_fn1 td:nth-child(1) {
	background-color: #F2F8F2 !important;
}

.gloss_div .bq_eq_fn2 table :nth-child(1), #hintbox .bq_eq_fn2 td:nth-child(1) {
	background-color: #F2F8F2 !important;
}

.gloss_div .bq_eq_fn3 table :nth-child(1), #hintbox .bq_eq_fn3 td:nth-child(1) {
	background-color: #F2F8F2 !important;
}

.gloss_div .bq_eq_fn4 table :nth-child(1), #hintbox .bq_eq_fn4 td:nth-child(1) {
	background-color: #F2F8F2 !important;
}

.gloss_div .bq_eq_fn5 table :nth-child(1), #hintbox .bq_eq_fn5 td:nth-child(1) {
	background-color: #F2F8F2 !important;
}

/* Just indented TABLE captions */
.gloss_div .INDENTED_TABLE_PLACEHOLDER table caption.bq, .gloss_div .INDENTED_TABLE_PLACEHOLDER table caption.bq1, .gloss_div .INDENTED_TABLE_PLACEHOLDER table caption.bq2, .gloss_div .INDENTED_TABLE_PLACEHOLDER table caption.bq3, .gloss_div .INDENTED_TABLE_PLACEHOLDER table caption.bq4, .gloss_div .INDENTED_TABLE_PLACEHOLDER table caption.bq5 {
	background-color: #F2F8F2 !important;
}

/* Blockquoted tables, set width of first column by setting th first child width. */
table.bt.bordered.imt th:first-child {
	width: 69px;
}

table.bt1.bordered.imt th:first-child {
	width: 89px;
}

table.bt2.bordered.imt th:first-child {
	width: 109px;
}

table.bt3.bordered.imt th:first-child {
	width: 129px;
}

table.bt4.bordered.imt th:first-child {
	width: 149px;
}

table.bt5.bordered.imt th:first-child {
	width: 169px;
}

table.bt.bordered.imt {
	margin-bottom: 0;
}

table.bt1.bordered.imt {
	margin-bottom: 0;
}

table.bt2.bordered.imt {
	margin-bottom: 0;
}

table.bt3.bordered.imt {
	margin-bottom: 0;
}

table.bt4.bordered.imt {
	margin-bottom: 0;
}

table.bt5.bordered.imt {
	margin-bottom: 0;
}

.INDENTED_TABLE_PLACEHOLDER table.bordered {
	margin-bottom: 0;
}


/* Just for tables, some colour for any additional blockquote cells.
as == after second (cell). */
.bq_as {
	background-color: #F2F8F2;      /* Light green */
	padding-left: 60px;
}

.bq1_as {
	background-color: #F2F8F2;      /* Light green */
	padding-left: 80px;
}

.bq2_as {
	background-color: #F2F8F2;      /* Light green */
	padding-left: 100px;
}

.bq3_as {
	background-color: #F2F8F2;      /* Light green */
	padding-left: 120px;
}

.bq4_as {
	background-color: #F2F8F2;      /* Light green */
	padding-left: 140px;
}

.bq5_as {
	background-color: #F2F8F2;      /* Light green */
	padding-left: 160px;
}

/* Background color for table rows in block-quoted tables. */
/*
table.bt.bordered.imt tr th:first-child {
	border-top-width: 0;
}
*/

table.bordered.imt tr th:first-child {
	font-weight: normal;
	color: #808080;
	padding-left: 4px;
}

.INDENTED_TABLE_PLACEHOLDER table.bordered tr._FOOTNOTE_, .INDENTED_TABLE_PLACEHOLDER table.bordered tr._FOOTNOTE_ :nth-child(1) {
	background-color: #F2F8F2 !important;      /* Light green */
}

.INDENTED_TABLE_PLACEHOLDER table.bordered tr._FOOTNOTE_ th:first-child {
	background-color: #dce9f9 !important;
}

.INDENTED_TABLE_PLACEHOLDER table.bordered tr.bq_tr td {
	background-color: #F2F8F2 !important;      /* Light green */
}

tr.bq_tr {
	background-color: #F2F8F2;      /* Light green */
}

.footnote_indented_table {
	background-color: #F2F8F2 !important;      /* Light green */
	width: 100%;
	margin-left: 100px;
}

.fakeCaptionIndented {
	display: inline-block;
	margin-left: 20px !important;
	background-color: #F2F8F2 !important;      /* Light green */
}

.fakeCaptionIndented1 {
	display: inline-block;
	margin-left: 40px !important;
	background-color: #F2F8F2 !important;      /* Light green */
}

.fakeCaptionIndented2 {
	display: inline-block;
	margin-left: 60px !important;
	background-color: #F2F8F2 !important;      /* Light green */
}

.fakeCaptionIndented3 {
	display: inline-block;
	margin-left: 80px !important;
	background-color: #F2F8F2 !important;      /* Light green */
}

.fakeCaptionIndented4 {
	display: inline-block;
	margin-left: 100px !important;
	background-color: #F2F8F2 !important;      /* Light green */
}

.fakeCaptionIndented5 {
	display: inline-block;
	margin-left: 120px !important;
	background-color: #F2F8F2 !important;      /* Light green */
}

/* Block quoted indented code block, set the left margin. */
.bq_icb {
	margin-left: 40px;
}

.bq1_icb {
	margin-left: 60px;
}

.bq2_icb {
	margin-left: 80px;
}

.bq3_icb {
	margin-left: 100px;
}

.bq4_icb {
	margin-left: 120px;
}

.bq5_icb {
	margin-left: 140px;
}
