/* cm_edit.css: used by intramine_editor.pl. */
#scrollText {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
}

#scrollTextRightOfContents {
	position: absolute;
	top: 0; left: 24%; right: 0; bottom: 0;
}

div#indicator {
    position: absolute;
    z-index: 99;
    top: 0px;
    left: 3px;
    width: 2px;
    height: 20px;
    background-color: #888;
    border: none;
    margin: 5px 0 5px 0;
}

.CodeMirror {
  border: 1px solid #eee;
  height: 100%;
  /*font: normal 9pt/12pt Lucida Console, Lucida Sans Unicode, Lucida Grande, monospace;*/
  font: normal 11pt Consolas, Lucida Console, Lucida Sans Unicode, Lucida Grande, monospace;
}

#cmHolder {
	/*position: relative;*/
	width: 100%;
	overflow: auto;
	height: 100%;
}
