/* cm_edit.css: used by intramine_editor.pl. */
#scrollText {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
}

/*
#scrollTextRightOfContents {
	position: absolute;
	top: 0; left: 24%; right: 0; bottom: 0;
}
*/

div#indicator {
    position: absolute;
    z-index: 99;
    top: 0px;
    left: 3px;
    width: 2px;
    height: 20px;
    background-color: #888;
    border: none;
    margin: 5px 0 5px 0;
}

div#indicatorPC {
  position: absolute;
  z-index: 99;
  top: 0;
  /*left: 3px;*/
  right: 0.74%;
  opacity: .75;
  width: 9px;
  height: 20px;
  background-color: #ffdb58; /* #ffe958 or mustard, #ffdb58 */
  border: 1px solid gray; /*none;*/
  margin: 0;
  padding: 0;
pointer-events: none;
}

.CodeMirror {
  border: 1px solid #eee;
  height: 100%;
  /*font: normal 9pt/12pt Lucida Console, Lucida Sans Unicode, Lucida Grande, monospace;*/
  font: normal 11pt Consolas, Lucida Console, Lucida Sans Unicode, Lucida Grande, monospace;
}

#cmHolder {
	/*position: relative;*/
	width: 100%;
	overflow: auto;
	height: 100%;
}

.CodeMirror:not(.CodeMirror-focused) .CodeMirror-cursors {
  visibility: visible !important;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb,
.CodeMirror-hscrollbar::-webkit-scrollbar-thumb {
  background: #C0C0C0; /* Dark gray thumb */
}
#scrollTextRightOfContents {
	scrollbar-color: #C0C0C0 white;
}