/* cm_md.css: used by intramine_viewer.pl for Markdown display. */

#scrollText {
	/*font: normal 9pt/12pt Lucida Console, Lucida Sans Unicode, Lucida Grande, monospace;*/
	font: normal 11pt Consolas, Lucida Console, Lucida Sans Unicode, Lucida Grande, monospace;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	overflow: auto;
	margin-left: 1%;
	width: 98%;
}

body #scrollTextRightOfContents {
	padding-left: 6px;
}

#scrollTextRightOfContents h1, #scrollTextRightOfContents h2, #scrollTextRightOfContents h3, #scrollTextRightOfContents h4, #scrollTextRightOfContents h5, #scrollTextRightOfContents h6 {
    display: block;
}

.marker-highlight {
	background-color: lightgreen
}

.scroll-hilite {
	display: block;
	position: fixed;
	width: 12px;
	height: 2px;
	/*right: 8px;*/
	right: 0.66%;
	opacity: .5;
	background-color: green;
	margin: 0;
	border: 0;
	padding: 0;
	z-index:1000;
	pointer-events: none;
}

.initial-scroll-h1 {
	display: block;
	position: fixed;
	width: 12px;
	height: 2px;
	/*right: 8px;*/
	right: 0.66%;
	opacity: .5;
	background-color: red;
	margin: 0;
	border: 0;
	padding: 0;
	z-index:1000;
	pointer-events: none;
}


div#indicator {
    position: absolute;
    z-index: 99;
    top: 0px;
    left: 3px;
    width: 2px;
    height: 20px;
    background-color: #888;
    border: none;
    margin: 5px 0 5px 0;
}

.footnote {
	vertical-align: baseline;
	position: relative;
	font-size: 70%;
	top: -0.6em;
}

.mdLineNum {
	display: inline-block;
	margin-right: 1px gray;
}