/* non_cm_test.css: formatting for non-CodeMirror displays presented by the Viewer service. */

#scrollTextRightOfContents {
	padding-right: 0;
	font: normal 11pt Consolas, Lucida Console, Lucida Sans Unicode, Lucida Grande, monospace;
	top: 0; right: 0; bottom: 0;

	/* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/*/
	
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
}

#scrollText { /* Replaces #theTextWithoutJumpList */
	font: normal 11pt Consolas, Lucida Console, Lucida Sans Unicode, Lucida Grande, monospace;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;

	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
}

#scrollTextRightOfContents img, #scrollText img{
	max-width: 100%;
}

/* Footnotes */
.footDiv {
	font: normal 10pt Consolas, Lucida Console, Lucida Sans Unicode, Lucida Grande, monospace;
}

.gloss_div {
	margin-bottom: 6px;
}

/* footnote tables proper: */
.gloss_div table tbody tr:first-child {
	margin: 0;
	text-indent: -26px;
}

.gloss_div table:not(:first-child) tbody tr:first-child {
	text-indent: 0 !important;
	padding-left: 26px !important;
}

.gloss_div table tbody tr:not(first-child) {
	display: block;
	margin: 0;
	padding-left: 26px;
	padding-top: 6px;
}

/* Footnote actual tables, to be shown as proper tables. */
.gloss_div table.bordered tbody tr:first-child {
	text-indent: 0 !important;
}

.gloss_div table.bordered tbody tr:not(first-child) {
	display: table-row;
	margin: 0;
	padding-left: 0 !important;
	padding-top: 0;
}

.gloss_div table.bordered td {
	border-top: 1px solid #ccc;
}


.gloss_div table.bordered tbody tr:hover {
    background: #fbf8e9 !important;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}

.allfootnotes {
	/*background-color: lightblue;*/
}

/* TOC shrink/expand element */
#tocShrinkExpand {
	position: absolute;
	display: inline-block;
	cursor: pointer;
	margin-right: 5px;
	margin-bottom: 5px;
}

.marker-highlight {
	background-color: lightgreen
}

.scroll-hilite {
	display: block;
	position: fixed;
	width: 12px;
	height: 2px;
	/*right: 8px;*/
	right: 0.75%;
	opacity: .5;
	background-color: green;
	margin: 0;
	border: 0;
	padding: 0;
	z-index:1000;
	pointer-events: none;
}

.initial-scroll-h1 {
	display: block;
	position: fixed;
	width: 12px;
	height: 2px;
	/*right: 8px;*/
	right: 0.75%;
	opacity: .5;
	background-color: green;
	margin: 0;
	border: 0;
	padding: 0;
	z-index:1000;
	pointer-events: none;
}


.initial-hits-highlight {
	background-color: #ffcccc;
}

.initial-scroll-hl {
	display: block;
	position: fixed;
	width: 12px;
	height: 2px;
	/*right: 8px;*/
	right: 0.75%;
	opacity: .5;
	background-color: #990000;
	margin: 0;
	border: 0;
	padding: 0;
	z-index:1000;
	pointer-events: none;
}

div#indicator {
    position: absolute;
    z-index: 99;
    top: 0px;
    /*left: 3px;*/
    right: 0.75%;
    opacity: .5;
    width: 2px;
    height: 20px;
    background-color: #888;
    border: none;
    margin: 0;
    padding: 0;
	pointer-events: none;
}

div#indicatorPC {
    position: absolute;
    z-index: 99;
    top: 0;
    /*left: 3px;*/
    right: 0.74%;
    opacity: .75;
    width: 9px;
    height: 20px;
    background-color: #ffdb58; /* #ffe958 or mustard, #ffdb58 */
    border: 1px solid gray; /*none;*/
    margin: 0;
    padding: 0;
	pointer-events: none;
}

/* Some special treatment for index.html files that hold a table of contents.
See intramine_fileviewer_cm.pl#GetPrettyText(). */
#specialScrollTextRightOfContents {
	padding-right: 0;
	position: absolute;
	top: 0; left: 2%; right: 0; bottom: 0;
	overflow: auto;
	/*background-image: url("Coffee-Paper-Texture4.jpg");*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

#toc-line {
	font: normal 28px "Baskerville BT", serif;
}

#special-index-wrapper {
	padding-top: 20px;
	height: 100%;
	font: normal 24px "Baskerville BT", serif;
	/*background-color: #E8E3C5;*/
}

#special-index-wrapper th {
	text-align: center;
}

#special-index-wrapper td:not(:first-child) {
	padding-left: 80px;
}

#special-index-wrapper td:nth-child(1) {
	/*background-color: #E8E3C5;*/
	background: transparent;
}

#special-index-wrapper a {
	text-decoration: none;
}

#special-index-wrapper a:link {
	color: Black;
	border-bottom: 1px solid #CCC;
}

#special-index-wrapper a:visited {
	color: #333;
	border-bottom: 1px solid #CCC;
}

#special-index-wrapper a:hover {
	color: #333;
	border-bottom: 1px solid #333;
	background-color: #ECF6CE;
}

/* Glossary links, for glossary popups shown in standalone Gloss HTML files. */
.glossary:link {
	border-bottom: 1px dotted #666;
}

.glossary:link:hover {
	border-bottom: 1px dotted #666;
}

.glossary:link:visited {
	border-bottom: 1px dotted #666;
}

/* Second and subsequent glossary tooltips in Gloss HTML standalone files, suppress underline. */
.term-seen:link {
	border-bottom: 1px dotted #CCC;
}

.term-seen:hover {
	border-bottom: 1px dotted #666;
}

.term-seen:visited {
	border-bottom: 1px dotted #CCC;
}

/* Table of Contents highlight for current item. */
.tocitup {
	background-color: lightgreen;
}

/* Gloss standalone HTML, alignment for "inlined" images. */
.valigntop {
	vertical-align: top;
}
and the entry name in a span with
.inlinespan {
	display:inline-block;
}

#bottomShim {
	margin: 0;
	height: 3px;
	}

/* For Gloss display of *!* wrapped code bits. */
code {
	background-color:#ECF6CE;
}

/* For raw HTML in .txt files, as displayed with Gloss. */
.rawHTML {
	padding-left: 60px;
}

/* Footnoe inline HTML, less indent because there are no line numbers. */
.gloss_div .rawHTML {
	padding-left: 26px;
}

/* Even less indent for the popup version of the footnote. */
.footDiv .rawHTML {
	padding-left: 4px;
}

/* Also for raw HTML, reduce <p> margin. */
p {
	margin-top: 6px;
	margin-bottom: 6px;
}

/* iPad */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	#scrollTextRightOfContents {font: normal 10pt Consolas, Lucida Console, Lucida Sans Unicode, Lucida Grande, monospace;}
	#scrollText {font: normal 10pt Consolas, Lucida Console, Lucida Sans Unicode, Lucida Grande, monospace;}
}
