.codehere, code {
	background-color: rgba(211, 211, 211, 0.3); /* #ECF6CE #dce9f9 light blue,  #F7F8E0 light yellow, #E1F5A9 light green, #ECF6CE lighter green*/
}

/* Not needed at the moment. */
pre {
	/*white-space: normal;*/
	margin-top: 0;
	margin-bottom: 0;
}

.pre_line {
	background-color:#f2f2f2;
}

#scrollTextRightOfContents h1, #scrollTextRightOfContents h2, #scrollTextRightOfContents h3, #scrollTextRightOfContents h4 {
	display: inline-block;
	margin-block-start: .5em;
	margin-block-end: .1em;
}


#scrollTextRightOfContents table {
	border-collapse:separate; 
	/*border-spacing: 0 .6em;*/
	/*padding: 0 .6em;*/
  }

#scrollTextRightOfContents table td {
	border-collapse:separate; 
	/*border-spacing: 0 .6em;*/
	padding: .2em;
  }

  /* Horizontal rule in Gloss. */
.vam {
	padding-top: 0; /*.2em;*/
	padding-bottom: 0; /*.5em;*/
}

/* Indentation for Pod in Gloss. */
#scrollTextRightOfContents table td.onePodIndent {
	padding-left: 1.8em;
}

#scrollTextRightOfContents table td.twoPodIndents {
	padding-left: 2.9em;
}

#scrollTextRightOfContents table td.threePodIndents {
	padding-left: 4em;
}

#scrollTextRightOfContents table td.fourPodIndents {
	padding-left: 5.1em;
}

.onePodIndent {
	padding-left: 1.8em;
}

.twoPodIndents {
	padding-left: 2.9em;
}

.threePodIndents {
	padding-left: 4em;
}

.fourPodIndents {
	padding-left: 5.1em;
}
