/* for intreamine_reindex.pl */

#directories_table {
	border: 1px solid #AAAAAA;
}

#ignore_table {
	border: 1px solid #AAAAAA;
}

.badDirectory {
	background-color: #ffaaaa;
}

#theTextWithoutJumpList {
	background-color: #F0F0F0;

}