/* search.css: for the Search service. Search service directory picker etc. */

/* Grid layout for the Search form and items within. */
#ftsform {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;/*repeat(3, 1fr);*/
	grid-template-rows: auto; /*50px 50px 50px 50px;*/
	column-gap: 10px;
	padding-right: 20px;
}

/* form_column_row */
#form_1_1 {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
	justify-self: end;
	align-self: center;
}

#form_2_1 {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
	justify-self: end;
	align-self: center;
	padding-right: 0.5em;
}

#form_3_1 {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1;
	justify-self: end;
	align-self: center;
}

#form_1_2 {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 2;
	grid-row-end: 2;
	justify-self: end;
}

#form_2_2 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
	justify-self: start;
	padding-left: 2px;
}

#form_3_2 {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
	justify-self: end;
	align-self: center;
}

#form_1_3 {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 3;
	grid-row-end: 3;
	justify-self: end;
}

#form_2_3 {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 3;
	justify-self: end;
}

#form_3_3 {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 3;
	justify-self: end;

}

#languageGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

/* Language/Extension */
#byLanguage {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
	justify-self: end;
	align-self: center;
}

#byExtension {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 2;
	grid-row-end: 2;
	justify-self: end;
	align-self: center;
}

#languageDropdown {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	justify-self: end;
	align-self: center;
}


#languageDropdownItems {
	display: none;
}

#extensionDropDownItems {
	display: none;
}

#searchdirectory {
	width:360px;
}

/* The "dot dot dot" for the Directory picker. */
#annoyingdotcontainer {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 24px;
	margin: 0;
	padding: 0;
	padding-left: 18px;
}

#dotdotdot {
	border: 1px solid #447314;
	background: #8dc059;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
	position: absolute;
	display: inline-block;
	margin: 0;
	padding: 0;
	/*left: 4px;*/
	top:4px;
}

#dotdotdot:hover {
	content:url("dotdotdot24x48i.png");
	cursor: pointer;
}

#dirpickerMainContainer {
	display: none;
	position:absolute;
	top: 100px;
	left: 100px;
	background: #eeeeee;
	width: 600px;
	border: 1px solid #447314;
	text-shadow: #addc7e 0 1px 0;
	z-index: 100;
}

#dirpicker {
	position: relative;
	border: 1px solid #bababa;
}

#pickerDisplayedDirectory {
	display: inline-block;
	border: 1px solid #bababa;
	width: 450px;
	/*height: 20px;*/
}

#directoryPickerTitle {
	font-size: 1.2em;
	text-align: center;
	background: #285B42;
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 4px;
}

#pickerDisplayDiv {
	height: 20px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}


#fileTreeLeft {
	/*float: left;
	width: 48%;*/
	height: 100%;	
}

#scrollDriveListLeft {
	overflow: auto;
	height: 80%;
	margin-left:15px;
	padding-left:10px;
}

/*
#driveSelectorLeft {
	
}
*/

/* Smaller buttons for OK/Cancel.*/
#okCancelHolder {
	display: flex;
	justify-content: flex-end;
}

#dirOkButton, #dirCancelButton {
	border: 1px solid #447314;
	background: #8dc059;
	text-shadow: #addc7e 0 1px 0;
	color: #000000;
	font-family: helvetica, serif;
	font-size: 12px;
	text-decoration: none;
	/*font-weight: bold;*/
	vertical-align: middle;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   margin-top: 6px;
   margin-left: 12px;
   margin-right: 12px;
}

#dirOkButton:hover, #dirCancelButton:hover {
	color: #fff;
	cursor: pointer;
}

#dirOkButton:active, #dirCancelButton:active {
	 color: #fff;
}

#dirOkButton:disabled, #dirCancelButton:disabled {
	color: #000000;
	opacity: 0.4;
	cursor: default;
}

/* Search results fields. */
.resultPath {
	display: block;
}

.excerpt {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
}

/* Directory picker, limit width so scroll bar will show. */
#fileTreeLeft {
	width: 100%;
}


/* iPad */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
UL.jqueryFileTree {line-height: 2.2em;}
#scrollDriveListLeft {overflow-y: scroll; -webkit-overflow-scrolling: touch; font: normal 1.2em/1.875em Arial, Helvetica, sans-serif; vertical-align: middle;}
}
