/* todo.css: for IntraMine's ToDo service. */

/* nanoscrollbar */
.nano .pane   { background: #888; }
.nano .slider { background: #111; }

body {
    /* Override bootstrap properties */
    background-color: #ffffff !important;
    border: 0 !important;
    /*margin: 8px;*/
}

#container{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    margin: 0 auto;
    width: 98%;
    height: 100%;
    background-color: transparent;
    border: 0;
    overflow: auto;
}

#header{
    font-size: 2em;
	margin-left: 30px;
    margin-bottom: 15px;
}

#header > #todoarchive{
	font-size: 0.8em;
}

.task-list{
    margin: 2px;
    background-color: #e3e3e3;
    border-radius: 10px;
    padding-bottom: 15px;
}

.task-list input, .task-list textarea{
    width: 90%;
    margin: 3px;
	padding: 0 5px;
}

.task-list input{
    height: 30px;
}

.todo-task{
    border-radius: 5px;
    background-color: #fffffb;
    margin: 3px;
    padding: 3px;
    cursor: move;
}

.task-list input[type="button"]{
    width: 100px;
    margin: 3px;
}

/* Add Task button */
.btn-primary {
   border: 1px solid #447314;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   color: #000000; /* 31540c */
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.btn-primary:hover {
   border: 1px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   color: #fff;
   cursor: pointer;
   }
.btn-primary:active {
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #447314;
   background: #8dc059;
   background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
   background: -webkit-linear-gradient(top, #6aa436, #8dc059);
   background: -moz-linear-gradient(top, #6aa436, #8dc059);
   background: -ms-linear-gradient(top, #6aa436, #8dc059);
   background: -o-linear-gradient(top, #6aa436, #8dc059);
   background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
   color: #fff;
   }

.todo-task > .task-header{
    font-weight: bold;
    font-size: 1.2em;
}

.task-date, .task-created{
    display: inline-block;
}

.task-date::before{
	content: "Due ";
}

.task-created::before{
	content: "Created ";
}

.task-date{
    font-size: small;
	padding-left: 4px;
}

.task-date-none{
	font-size: 0.6em;
	color: #FFFFFF;
}

.task-created{
	font-size: 0.9em;
	color: #808080;
}

.todo-task > .task-description{
    /*font-size: smaller;*/
}

h3{
    text-align: center;
    font-size: 1.5em;
}

.todo-task h2 {
    font-size: 1.2em;
}

.todo-task h3 {
    text-align: left;
    font-size: 1.0em;
	font-style: italic;
	font-variant: normal;
}

.todo-task h4 {
    font-size: .85em;
}

#addedittasknote {
	color: #808080;
    text-align: center;
}

#delete-div{
    display: none;
    border: 3px dotted #000;
    margin: 10px;
    height: 150px;
    line-height: 150px;
    text-align: center;
}

.delete-div-class {
    background-color: #fff;
}

.drop-hover {
	background: yellow;
}