/* twocolumns.css: two columns of file trees, for the Files IntraMine service. */

#fileTreeLeft {
	float: left;
	width: 70%;
	height: 100%;	
}

#fileTreeRight {
	float: left;
	width: 28%;
	height: 100%;		
}

#scrollDriveListLeft {
	overflow: auto;
	height: 100%;
	margin-left:15px;
	padding-left:10px;
}

#scrollDriveListRight {
	overflow: auto;
	height: 100%;
	margin-left:15px;
	padding-left:10px;
}

#driveSelectorLeft {
	
}

#driveSelectorRight {
}

/* position: relative to allow z-index to work. Typical CSS. */
#driveselector_2 {
	position: relative;
	z-index: 15;
}

#tocShrinkExpand {
	cursor: pointer;
	position: relative;
	left: -80px;
	top: -2px;
}

/* position: absolute so that #fileTreeRight isn't pushed down. 
By coincidence the #tocShrinkExpandDiv div ends up in the same
place as #driveselector_2, so the z-index of 1 puts it behind the
drive selector (z-index 15). */
#tocShrinkExpandDiv {
	position: absolute;
	z-index: 1;
}


/* iPad */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
UL.jqueryFileTree {line-height: 2.2em;}
#scrollDriveListLeft {overflow-y: scroll; -webkit-overflow-scrolling: touch; font: normal 1.2em/1.875em Arial, Helvetica, sans-serif; vertical-align: middle;}
#scrollDriveListRight {overflow-y: scroll; -webkit-overflow-scrolling: touch; font: normal 1.2em/1.875em Arial, Helvetica, sans-serif; vertical-align: middle;}
}
