.CodeMirror {
	font: normal 13pt Cambria, Georgia, Garamond, "Times New Roman", serif;
}

#scrollTextRightOfContents, #scrollText, .footDiv {
	font: normal 13pt Cambria, Georgia, Garamond, "Times New Roman", serif;
}
