#scrollTextRightOfContents, #scrollContentsList, #scrollText, #scrollText a:link, #scrollText a:visited, #scrollTextRightOfContents a:link, #scrollTextRightOfContents a:visited, td:first-child, th:first-child {
background: #231c14 ;
color: #d8ff84 ;
}

td:first-child, th:first-child { opacity: 0.8; }
#scrollContentsList a:link, #scrollContentsList a:visited {color: #d8ff84 ;}
#scrollContentsList a:hover, #nav li:hover > a { color: #008000; }
#nav .current a, #nav .current:hover > a { color: #008000; }
h1, h2, h3, h4, h5 { color: #d8ff84 ; }
#viewEditTitle { color: #d8ff84 ; }
#viewEditDateSize { color: #d8ff84 ; }
body { background: #231c14 ; }
.cmAutoLinkImg { background: #231c14 ; }
#scrollTextRightOfContents .bordered th:not(:first-child) { background-color: #4f4943ff; background-image: none; text-shadow: none; }
.bordered td:first-child, .bordered th:first-child { background-color: #231c14 ; text-shadow: none; }
.bordered>tr>th { background-color: #231c14 ; }
tr > th::after { background-color: #231c14 ; }
#scrollTextRightOfContents code { background-color: #65605aff; }
.CodeMirror-wrap .cmAutoLinkImg { background-image: none; background-color: #65605aff; }
#nav { border-top: solid 1px #6d6d6d; border-left: solid 1px #6d6d6d; border-right: solid 1px #6d6d6d; border-bottom: none; }
.glossary:link, .glossary:link:hover, .glossary:link:visited, .cmAutoLinkGlossary { border-bottom: 1px dotted #ffffff; }
mark.initial-scroll-h1 { background-color: red; }
mark.scroll-hilite { background-color: #ccffcc; }
.cm-matchhighlight { background-color: #ccffcc; }
.CodeMirror-selection-highlight-scrollbar { background-color: #ccffcc; }
.marker-highlight { background-color: #ccffcc; }
.pre_line td { background: #4f4943ff; }
.pre_line td:first-child  { background: #231c14 ; }
#scrollTextRightOfContents, #scrollContentsList { scrollbar-color: #E0E0E0 #B0B0B0; }
pre { background-color: #4f4943ff; color: #d8ff84 ; }
pre.lolight { background: #d3d1d0ff; color: #d8ff84 ; }
.cmAutoLinkImg { color: #d8ff84 ; }
.CodeMirror-wrap .cmAutoLinkImg { color: #d8ff84 ; }
span.cm-comment.cmAutoLinkImg { color: #d8ff84 ; }
#scrollContentsList .tocitup a:link, #scrollContentsList .tocitup a:visited, #scrollContentsList .tocitup a::before { color: black; }
#scrollContentsList .tocitup { color: black; }
.cm-s-abbott span .cm-matchhighlight { color: black; background-color: lightgreen !important; }
.bordered tr:hover { color: black; }
.cm-s-abbott .CodeMirror-matchingbracket { color: black !important; background-color: lightgreen !important; }
.gloss_div table :nth-child(1) { background: #231c14 ; color:#d8ff84 ; }
