#scrollTextRightOfContents, #scrollContentsList, #scrollText, #scrollText a:link, #scrollText a:visited, #scrollTextRightOfContents a:link, #scrollTextRightOfContents a:visited, td:first-child, th:first-child {
background: #0a0e14;
color: #b3b1ad;
}

td:first-child, th:first-child { opacity: 0.8; }
#scrollContentsList a:link, #scrollContentsList a:visited {color: #b3b1ad;}
#scrollContentsList a:hover, #nav li:hover > a { color: #008000; }
#nav .current a, #nav .current:hover > a { color: #008000; }
h1, h2, h3, h4, h5 { color: #b3b1ad; }
#viewEditTitle { color: #b3b1ad; }
#viewEditDateSize { color: #b3b1ad; }
body { background: #0a0e14; }
.cmAutoLinkImg { background: #0a0e14; }
#scrollTextRightOfContents .bordered th:not(:first-child) { background-color: #3b3e43ff; background-image: none; text-shadow: none; }
.bordered td:first-child, .bordered th:first-child { background-color: #0a0e14; text-shadow: none; }
.bordered>tr>th { background-color: #0a0e14; }
tr > th::after { background-color: #0a0e14; }
#scrollTextRightOfContents code { background-color: #53565aff; }
.CodeMirror-wrap .cmAutoLinkImg { background-image: none; background-color: #53565aff; }
#nav { border-top: solid 1px #6d6d6d; border-left: solid 1px #6d6d6d; border-right: solid 1px #6d6d6d; border-bottom: none; }
.glossary:link, .glossary:link:hover, .glossary:link:visited, .cmAutoLinkGlossary { border-bottom: 1px dotted #ffffff; }
mark.initial-scroll-h1 { background-color: red; }
mark.scroll-hilite { background-color: #ccffcc; }
.cm-matchhighlight { background-color: #ccffcc; }
.CodeMirror-selection-highlight-scrollbar { background-color: #ccffcc; }
.marker-highlight { background-color: #ccffcc; }
.pre_line td { background: #3b3e43ff; }
.pre_line td:first-child  { background: #0a0e14; }
#scrollTextRightOfContents, #scrollContentsList { scrollbar-color: #B0B0B0 #808080; }
pre { background-color: #3b3e43ff; color: #b3b1ad; }
pre.lolight { background: #ceced0ff; color: #b3b1ad; }
.cmAutoLinkImg { color: #b3b1ad; }
.CodeMirror-wrap .cmAutoLinkImg { color: #b3b1ad; }
span.cm-comment.cmAutoLinkImg { color: #b3b1ad; }
.cm-s-ayu-dark .CodeMirror-linenumber { color: #8a8d94ff; }
#scrollContentsList .tocitup a:link, #scrollContentsList .tocitup a:visited, #scrollContentsList .tocitup a::before { color: black; }
#scrollContentsList .tocitup { color: black; }
.cm-s-ayu-dark span .cm-matchhighlight { color: black; background-color: lightgreen !important; }
.bordered tr:hover { color: black; }
.cm-s-ayu-dark .CodeMirror-matchingbracket { color: black !important; background-color: lightgreen !important; }
