/* blackboard_Pl.css, for use with Perl files. */

.Keyword {
color: #fbde2dff;
}

.Number {
color: #d8fa3cff;
}

.Builtin_Function, .Builtin_Operator, .CodeTerm, .Operator, .Package, .Subroutine {
color: #8da6ceff;
}

.Variable_Array, .Variable_Hash, .Variable_Scalar, .Variable_Typeglob {
color: #ff6400ff;
}

.Comment_Normal, .Comment_POD, .Directive {
color: #aeaeaeff;
}

.Bareword, .Character, .DATA, .Label, .Quote, .String, .Symbol {
color: #61ce3cff;
}


span.Symbol.brace-highlight { color: black !important; }
mark.scroll-hilite { background-color: #ccffcc; }
