/* colorforth_Pl.css, for use with Perl files. */

.Comment_Normal, .Comment_POD, .Directive {
color: #edededff;
}

.Builtin_Function, .Builtin_Operator, .CodeTerm, .Operator, .Package, .Subroutine {
color: #ff1c1cff;
}

.Keyword {
color: #ffd900ff;
}

.Variable_Array, .Variable_Hash, .Variable_Scalar, .Variable_Typeglob {
color: #73ff00ff;
}

.Bareword, .Character, .DATA, .Label, .Quote, .String, .Symbol {
color: #007bff;
}

.Number {
color: #00c4ffff;
}


span.Symbol.brace-highlight { color: black !important; }
mark.scroll-hilite { background-color: #ccffcc; }
