#scrollTextRightOfContents, #scrollContentsList, #scrollText, #scrollText a:link, #scrollText a:visited, #scrollTextRightOfContents a:link, #scrollTextRightOfContents a:visited, td:first-child, th:first-child {
font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
background: #2B2B2B;
color: #A9B7C6;
}

td:first-child, th:first-child { opacity: 0.8; }
#scrollContentsList a:link, #scrollContentsList a:visited {color: #A9B7C6;}
#scrollContentsList a:hover, #nav li:hover > a { color: #008000; }
#nav .current a, #nav .current:hover > a { color: #008000; }
h1, h2, h3, h4, h5 { color: #A9B7C6; }
#viewEditTitle { color: #A9B7C6; }
#viewEditDateSize { color: #A9B7C6; }
body { background: #2B2B2B; }
.cmAutoLinkImg { background: #2B2B2B; }
#scrollTextRightOfContents .bordered th:not(:first-child) { background-color: #555555ff; background-image: none; text-shadow: none; }
.bordered td:first-child, .bordered th:first-child { background-color: #2B2B2B; text-shadow: none; }
.bordered>tr>th { background-color: #2B2B2B; }
tr > th::after { background-color: #2B2B2B; }
#scrollTextRightOfContents code { background-color: #6a6a6aff; }
.CodeMirror-wrap .cmAutoLinkImg { background-image: none; background-color: #6a6a6aff; }
#nav { border-top: solid 1px #6d6d6d; border-left: solid 1px #6d6d6d; border-right: solid 1px #6d6d6d; border-bottom: none; }
.glossary:link, .glossary:link:hover, .glossary:link:visited, .cmAutoLinkGlossary { border-bottom: 1px dotted #ffffff; }
mark.initial-scroll-h1 { background-color: red; }
mark.scroll-hilite { background-color: #ccffcc; }
.cm-matchhighlight { background-color: #ccffcc; }
.CodeMirror-selection-highlight-scrollbar { background-color: #ccffcc; }
.marker-highlight { background-color: #ccffcc; }
.pre_line td { background: #555555ff; }
.pre_line td:first-child  { background: #2B2B2B; }
#scrollTextRightOfContents, #scrollContentsList { scrollbar-color: #E0E0E0 #B0B0B0; }
pre { background-color: #555555ff; color: #A9B7C6; }
pre.lolight { background: #d4d4d4ff; color: #A9B7C6; }
.cmAutoLinkImg { color: #A9B7C6; }
.CodeMirror-wrap .cmAutoLinkImg { color: #A9B7C6; }
span.cm-comment.cmAutoLinkImg { color: #A9B7C6; }
#scrollContentsList .tocitup a:link, #scrollContentsList .tocitup a:visited, #scrollContentsList .tocitup a::before { color: black; }
#scrollContentsList .tocitup { color: black; }
.cm-s-darcula span .cm-matchhighlight { color: black; background-color: lightgreen !important; }
.bordered tr:hover { color: black; }
.cm-s-darcula .CodeMirror-matchingbracket { color: black !important; background-color: lightgreen !important; }
.gloss_div table :nth-child(1) { background: #2B2B2B; color:#A9B7C6; }
