/* erlang-dark_Pl.css, for use with Perl files. */

.Comment_Normal, .Comment_POD, .Directive {
color: #7777ffff;
}

.Builtin_Function, .Builtin_Operator, .CodeTerm, .Operator, .Package, .Subroutine {
color: #ee77aaff;
}

.Keyword {
color: #ffee80ff;
}

.Number {
color: #ffd0d0ff;
}

.Bareword, .Character, .DATA, .Label, .Quote, .String, .Symbol {
color: #3ad900;
}

.Variable_Array, .Variable_Hash, .Variable_Scalar, .Variable_Typeglob {
color: #50fe50ff;
}


span.Symbol.brace-highlight { color: black !important; }
mark.scroll-hilite { background-color: #ccffcc; }
