/* hopscotch_Pl.css, for use with Perl files. */

.Comment_Normal, .Comment_POD, .Directive {
color: #b33508ff;
}

.Number {
color: #c85e7cff;
}

.Keyword {
color: #dd464cff;
}

.Bareword, .Character, .DATA, .Label, .Quote, .String, .Symbol {
color: #fdcc59;
}

.Variable_Array, .Variable_Hash, .Variable_Scalar, .Variable_Typeglob {
color: #8fc13eff;
}

.Builtin_Function, .Builtin_Operator, .CodeTerm, .Operator, .Package, .Subroutine {
color: #fd8b19ff;
}


span.Symbol.brace-highlight { color: black !important; }
mark.scroll-hilite { background-color: #ccffcc; }
