/* juejin_Pl.css, for use with Perl files. */

.Builtin_Function, .Builtin_Operator, .CodeTerm, .Operator, .Package, .Subroutine {
color: #1ba2f0ff;
}

.Comment_Normal, .Comment_POD, .Directive {
color: #009e9dff;
}

.Keyword {
color: #bb51b8ff;
}


.Variable_Array { color: #0101DFff; }
.DATA { color: #000000ff; }
.Quote { color: #8A0808ff; }
.String { color: #8A0808ff; }
.Bareword { color: #000000ff; }
.Variable_Scalar { color: #0101DFff; }
.Character { color: #000000ff; }
.Label { color: #000000ff; }
.Symbol { color: #000000ff; }
.Variable_Typeglob { color: #0101DFff; }
.Number { color: #000000ff; }
.Variable_Hash { color: #0101DFff; }
span.Symbol.brace-highlight { color: black !important; }
mark.scroll-hilite { background-color: #ccffcc; }
