/* liquibyte_Pl.css, for use with Perl files. */

.Comment_Normal, .Comment_POD, .Directive {
color: #008000ff;
}

.Builtin_Function, .Builtin_Operator, .CodeTerm, .Operator, .Package, .Subroutine {
color: #ffaf40ff;
}

.Keyword {
color: #c080ffff;
}

.Variable_Array, .Variable_Hash, .Variable_Scalar, .Variable_Typeglob {
color: #5967ffff;
}

.Bareword, .Character, .DATA, .Label, .Quote, .String, .Symbol {
color: #ff8000;
}

.Number {
color: #00ff00ff;
}


span.Symbol.brace-highlight { color: black !important; }
mark.scroll-hilite { background-color: #ccffcc; }
