/* lucario_Pl.css, for use with Perl files. */

.Comment_Normal, .Comment_POD, .Directive {
color: #5c98cdff;
}

.Bareword, .Character, .DATA, .Label, .Quote, .String, .Symbol {
color: #E6DB74;
}

.Number {
color: #ca94ffff;
}

.Variable_Array, .Variable_Hash, .Variable_Scalar, .Variable_Typeglob {
color: #f8f8f2ff;
}

.Builtin_Function, .Builtin_Operator, .CodeTerm, .Operator, .Package, .Subroutine {
color: #72c05dff;
}

.Keyword {
color: #ff6541ff;
}


span.Symbol.brace-highlight { color: black !important; }
mark.scroll-hilite { background-color: #ccffcc; }
