/* neo_Pl.css, for use with Perl files. */

.Comment_Normal, .Comment_POD, .Directive {
color: #75787bff;
}

.Keyword {
color: #1d75b3ff;
}

.Number {
color: #75438aff;
}

.Bareword, .Character, .DATA, .Label, .Quote, .String, .Symbol {
color: #b35e14ff;
}

.Variable_Array, .Variable_Hash, .Variable_Scalar, .Variable_Typeglob {
color: #047d65ff;
}


.Operator { color: #000000ff; }
.Subroutine { color: #000000ff; }
.Builtin_Function { color: #000000ff; }
.Package { color: #000000ff; }
.Builtin_Operator { color: #000000ff; }
.CodeTerm { color: #000000ff; }
span.Symbol.brace-highlight { color: black !important; }
mark.scroll-hilite { background-color: #ccffcc; }
