/* pastel-on-dark_Pl.css, for use with Perl files. */

.Comment_Normal, .Comment_POD, .Directive {
color: #a6c6ffff;
}

.Number {
color: #ccccccff;
}

.Keyword {
color: #aeb2f8ff;
}

.Bareword, .Character, .DATA, .Label, .Quote, .String, .Symbol {
color: #66A968;
}

.Variable_Array, .Variable_Hash, .Variable_Scalar, .Variable_Typeglob {
color: #aeb2f8ff;
}

.Builtin_Function, .Builtin_Operator, .CodeTerm, .Operator, .Package, .Subroutine {
color: #757ad8ff;
}


span.Symbol.brace-highlight { color: black !important; }
mark.scroll-hilite { background-color: #ccffcc; }
