/* rubyblue_Pl.css, for use with Perl files. */

.Comment_Normal, .Comment_POD, .Directive {
color: #999999ff;
}

.Number {
color: #82c6e0ff;
}

.Keyword {
color: #ff00ffff;
}

.Bareword, .Character, .DATA, .Label, .Quote, .String, .Symbol {
color: #F08047;
}

.Builtin_Function, .Builtin_Operator, .CodeTerm, .Operator, .Package, .Subroutine {
color: #ffffffff;
}


.Variable_Array { color: #b2b2f5ff; }
.Variable_Hash { color: #b2b2f5ff; }
.Variable_Typeglob { color: #b2b2f5ff; }
.Variable_Scalar { color: #b2b2f5ff; }
span.Symbol.brace-highlight { color: black !important; }
mark.scroll-hilite { background-color: #ccffcc; }
