/* tomorrow-night-eighties_Pl.css, for use with Perl files. */

.Comment_Normal, .Comment_POD, .Directive {
color: #d27b53ff;
}

.Number {
color: #a16a94ff;
}

.Keyword {
color: #f2777aff;
}

.Bareword, .Character, .DATA, .Label, .Quote, .String, .Symbol {
color: #ffcc66;
}

.Variable_Array, .Variable_Hash, .Variable_Scalar, .Variable_Typeglob {
color: #99cc99ff;
}

.Builtin_Function, .Builtin_Operator, .CodeTerm, .Operator, .Package, .Subroutine {
color: #f99157ff;
}


span.Symbol.brace-highlight { color: black !important; }
mark.scroll-hilite { background-color: #ccffcc; }
