/* vibrant-ink_Pl.css, for use with Perl files. */

.Keyword {
color: #cc7832ff;
}

.Number {
color: #ffee98ff;
}

.Builtin_Function, .Builtin_Operator, .CodeTerm, .Operator, .Package, .Subroutine {
color: #8da6ceff;
}

.Comment_Normal, .Comment_POD, .Directive {
color: #808080ff;
}

.Bareword, .Character, .DATA, .Label, .Quote, .String, .Symbol {
color: #a5c25cff;
}


.Variable_Array { color: #b2b2f5ff; }
.Variable_Typeglob { color: #b2b2f5ff; }
.Variable_Scalar { color: #b2b2f5ff; }
.Variable_Hash { color: #b2b2f5ff; }
span.Symbol.brace-highlight { color: black !important; }
mark.scroll-hilite { background-color: #ccffcc; }
