/* yeti_Pl.css, for use with Perl files. */

.Comment_Normal, .Comment_POD, .Directive {
color: #d4c8beff;
}

.Bareword, .Character, .DATA, .Label, .Quote, .String, .Symbol {
color: #96c0d8;
}

.Number {
color: #a074c4ff;
}

.Variable_Array, .Variable_Hash, .Variable_Scalar, .Variable_Typeglob {
color: #55b5dbff;
}

.Builtin_Function, .Builtin_Operator, .CodeTerm, .Operator, .Package, .Subroutine {
color: #55b5dbff;
}

.Keyword {
color: #9fb96eff;
}


span.Symbol.brace-highlight { color: black !important; }
mark.scroll-hilite { background-color: #ccffcc; }
